* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: azure;
    font-family: Helvetica, Arial, sans-serif;
}


/* Header element */

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #041014;
    padding-top: 10px;
    padding-bottom: 15px;
}

header h1 {
    padding-left: 45px;
    padding-right: 10px;
    font-size: 40px;
    color: #041014;
    background-color: #2596be;
}

header a {
    color: #2596be;
    text-decoration: none;
}

header nav ul {
    padding-top: 15px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

header nav ul li a {
    padding-right: 50px;
    font-weight: lighter;
    font-size: 1.55vw;
}


/* Hero/Banner */

.hero {
    padding: 60px;
    background-image: url("../images/banner.jpg");
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    display: flex;
    flex-wrap: wrap;
    color: white;
}

.hero h1 {
    background-color: #2596be;
}


/* About me */

.about-me {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.about-me p {
    display: flex;
    flex-wrap: wrap;
    padding-left: 40px;
    font-size: 18px;
    width: 78%;
}


/* Projects */

.work {
    display: flex;
    flex-wrap: wrap;
}

.work h1 {
    margin-right: 40px;
}

.work .first-project {
    border: 2px solid #2596be;
    background-image: url("../images/run-buddy.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    width: 75%;
    opacity: 0.5;
}

.work .first-project:hover {
    opacity: 1;
}

.work .pro-click {
    display: flex;
    flex-wrap: wrap;
    margin-top: 230px;
    padding: 10px 10px 50px 10px;
    background-color: #2596be;
    font-size: 20px;
    height: 45px;
}

.pro-click p {
    font-size: 15px;
}

.pro-click a {
    text-decoration: none;
}


/* Contact */

.contact-info {
    display: flex;
    flex-wrap: wrap;
}

.contact-info ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    width: 75%;
}

.contact-info ul li {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-top: 30px;
    width: 100%;
    flex: 1;
    font-size: 1.50vw;
    justify-content: center;
}

.contact-info a {
    color: #2596be;
    text-decoration: none;
    border-bottom: 3px solid #2596be;
    margin-bottom: auto;
}

.section-title {
    font-size: 40px;
    color: #000C66;
    text-align: right;
    border-right: 3px solid gray;
    padding-right: 10px;
    width: 15%;
}