* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #2596be;
}

body {
    background-color: azure;
    font-family: Helvetica, Arial, sans-serif;
}


/* Header element */

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #041014;
    padding-top: 10px;
    padding-bottom: 15px;
}

header h1 {
    padding-left: 45px;
    padding-right: 10px;
    font-size: 40px;
    color: #041014;
    background-color: var(--primary-color);
}

header a {
    color: var(--primary-color);
    text-decoration: none;
}

header nav ul {
    padding-top: 15px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

header nav ul li a {
    padding-right: 50px;
    font-weight: lighter;
    font-size: 22px;
}


/* Hero/Banner */

.hero {
    padding: 60px;
    background-image: url("../images/banner.jpg");
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    display: flex;
    flex-wrap: wrap;
    color: white;
}

.hero h1 {
    background-color: var(--primary-color);
    padding: 10px;
}


/* About me */

.about-me {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.about-me p {
    display: flex;
    flex-wrap: wrap;
    padding-left: 40px;
    font-size: 18px;
    flex: 1;
    margin-right: 60px;
}


/* Projects */

.jl-projects {
    display: flex;
    flex-wrap: wrap;
}

.jl-projects h1 {
    margin-right: 30px;
}

.jl-projects .projects {
    display: flex;
    flex-wrap: wrap;
    flex: 2;
}

.projects .first-project {
    border: 4px solid var(--primary-color);
    margin-left: 10px;
    margin-right: 55px;
    height: 300px;
    flex: 1 1 1400px;
    background-image: url("../images/run-buddy.JPG");
    background-repeat: no-repeat;
    background-size: cover;
}

.projects .card {
    margin: 10px;
    margin-right: 55px;
    padding: 10px;
    border: 4px solid var(--primary-color);
    height: 150px;
    flex: 1 1 550px;
}

.jl-projects #pro1 {
    background-image: url("../images/pro-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.jl-projects #pro2 {
    background-image: url("../images/pro-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.jl-projects #pro3 {
    background-image: url("../images/pro-3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.jl-projects #pro4 {
    background-image: url("../images/pro-4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


/* Contact */

.contact-info {
    display: flex;
    flex-wrap: wrap;
}

.contact-info ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    width: 75%;
}

.contact-info ul li {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-top: 30px;
    width: 100%;
    flex: 1;
    font-size: 22px;
    justify-content: center;
}

.contact-info a {
    color: var(--primary-color);
    text-decoration: none;
    border-bottom: 3px solid var(--primary-color);
    margin-bottom: auto;
}


/*  */

.section-title {
    font-size: 40px;
    color: #000C66;
    text-align: right;
    border-right: 3px solid gray;
    padding-right: 10px;
    width: 15%;
}


/* MEDIA Query for smaller desktop screens and smaller */

@media screen and (max-width: 980px) {
    .section-title {
        flex: 1 100%;
        text-align: center;
        border: none;
    }
    header nav ul li a {
        font-size: 20px;
        padding: 5px;
    }
    .about-me p {
        text-align: center;
    }
    .jl-projects {
        align-items: center;
    }
    .contact-info {
        justify-content: center;
    }
    .contact-info ul li a {
        font-size: 20px;
        padding: 5px;
    }
}

@media screen and (max-width: 768px) {
    .section-title {
        flex: 1 100%;
        text-align: center;
        border: none;
    }
    .about-me p {
        text-align: center;
    }
    .contact-info {
        justify-content: center;
    }
}

@media screen and (max-width: 575px) {
    .section-title {
        flex: 1 100%;
        text-align: center;
        border: none;
    }
    .about-me p {
        text-align: center;
        font-size: 20px;
    }
    .contact-info {
        justify-content: center;
    }
}