* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    padding-left: 60px;
}


/* Header element */

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #041014;
    padding-top: 10px;
    padding-bottom: 15px;
}

header h1 {
    padding-left: 45px;
    padding-right: 10px;
    font-size: 40px;
    color: #041014;
    background-color: #2596be;
}

header a {
    color: #2596be;
    text-decoration: none;
}

header nav ul {
    padding-top: 15px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

header nav ul li a {
    padding-right: 50px;
    font-weight: lighter;
    font-size: 1.55vw;
}


/* Hero/Banner */

.hero {
    padding: 60px;
    background-image: url("../images/banner.jpg");
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    display: flex;
    flex-wrap: wrap;
    color: white;
}


/* Contact */

.contact-info {
    display: flex;
    flex-wrap: wrap;
}

.contact-info ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    width: 75%;
}

.contact-info ul li {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-top: 10px;
    width: 100%;
    flex: 1;
    font-size: 1.50vw;
    justify-content: flex-end;
}

.contact-info a {
    color: #2596be;
    text-decoration: none;
    /* border-bottom: 3px solid #2596be; */
}

section h1 {
    font-size: 50px;
    text-align: right;
}